body {
}
.clear
{
    clear:both;
    }
#mainbox
{
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    background-color:ButtonFace;
    
    }

#nav
{
    list-style-type:none;
   
    }
    
#nav LI
{
    float:left;
    width:180px;
    font-size:x-large
    
    }
#contentph1
{
    width:200px;
    height:800px;
    float:left;
    }
#contentph2
{
    width:800px;
    height:650px;
    float:right;
    }    
#contentph3
{
    width:800px;
    height:150px;
    float:right;
    }    


